$vt-primary-main: #2eace0;
$vt-primary-light: #36c6ff;
$vt-primary-dark: #207799;

$vt-secondary-main: #6ac259;
$vt-secondary-light: #85f26f;
$vt-secondary-dark: #46803b;

$vt-error-main: #ff605d;
$vt-error-light: #ff8687;
$vt-error-dark: #cc4e4b;

$vt-warning-main: #FFAB4E;
$vt-warning-light: #ffc85d;
$vt-warning-dark: #ff992f;

$vt-info-main: #2eace0;
$vt-info-light: #36c6ff;
$vt-info-dark: #207799;

$vt-success-main: #6ac259;
$vt-success-light: #85f26f;
$vt-success-dark: #46803b;

$vt-grey-main: #777777;
$vt-grey-light: #BBBBBB;
$vt-grey-666: #555555;
$vt-grey-555: #555555;
$vt-grey-444: #444444;
$vt-grey-333: #333333;

$vt-white: #ffffff;
$vt-black: #000000;

// other colors - complementary
$vt-purple: #C890E4;

