/* ------------------------------------------------------- */
/* Base scoped style module */
/* ------------------------------------------------------- */
.modal-update-commit-component {
    background-color: transparent;
    $footerHeight: 50px;

    .page-block {
        .body-wrapper {
            background-color: transparent;
            &.has-footer {
                padding-bottom: $footerHeight;
            }

            .pills {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                > div {
                    margin: 0 4px;
                }
            }
            .content-block-init {

                background-color: transparent;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                align-items: center;
                height: calc(40vh - 80px);
                .icon {
                    background-color: transparent;
                    margin-bottom: 20px;
                }
                .message { background-color: transparent}
            }
            .content-block-detail {
                background-color: transparent;
            }
        }
        .footer-wrapper {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }

    }

    .icon-update-green {
        width: 46px; height: 46px; background-repeat: no-repeat; background-position: center;
        background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='46px' height='46px' viewBox='0 0 46 46' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EDOWN%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M2.26305085,24.8506667 C2.92088983,24.8506667 3.455384,25.3243509 3.51962609,25.9386601 L3.52610169,26.0632982 L3.52610169,37.2734035 C3.52610169,40.1933434 5.94226058,42.5911347 8.96426355,42.7036599 L9.18644068,42.7077895 L36.8987119,42.7077895 C39.9400581,42.7077895 42.4375457,40.3880804 42.5547496,37.4867116 L42.5590508,37.2734035 L42.5590508,26.2429474 C42.5590508,25.5692632 43.1204068,25.0303158 43.8221017,25.0303158 C44.4799407,25.0303158 45.0144349,25.5118947 45.0786769,26.1197895 L45.0851525,26.2429474 L45.0851525,37.2734035 C45.0851525,41.5212579 41.5547187,44.9995565 37.1535713,45.1293008 L36.8987119,45.1330526 L9.18644068,45.1330526 C4.76196738,45.1330526 1.13904667,41.7435489 1.00390779,37.5180893 L1,37.2734035 L1,26.0632982 C1,25.389614 1.56135593,24.8506667 2.26305085,24.8506667 Z M23.0425763,1 C23.7442712,1 24.3056271,1.53894737 24.3056271,2.21263158 L24.3056271,26.8155789 L30.1811525,21.1745965 C30.4244068,20.9410526 30.7518644,20.8152982 31.0699661,20.8152982 C31.3974237,20.8152982 31.7155254,20.9320702 31.9587797,21.1745965 C32.4546441,21.6506667 32.4546441,22.4141754 31.9587797,22.8902456 L23.9313898,30.597193 C23.6974915,30.8217544 23.3700339,30.9564912 23.0425763,30.9564912 C22.7057627,30.9564912 22.387661,30.8307368 22.1537627,30.597193 L14.1263729,22.8902456 C13.6305085,22.4141754 13.6305085,21.6506667 14.1263729,21.1745965 C14.6128814,20.7075088 15.4174915,20.7075088 15.904,21.1745965 L21.7795254,26.8155789 L21.7795254,2.21263158 C21.7795254,1.53894737 22.3408814,1 23.0425763,1 Z' id='DOWN' stroke='%236AC259' stroke-width='0.47' fill='%236AC259' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    }
    .icon-warning-red {
        width: 62px; height: 55px; background-repeat: no-repeat; background-position: center;
        background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='62px' height='55px' viewBox='0 0 62 55' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EWARNING%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M31.22,0.06228 C32.705534,0.06228 34.0435634,0.7918971 34.8439483,2.02591603 L34.9658,2.22492 L61.35356,47.9298 C62.13548,49.284 62.13548,50.901 61.35356,52.25508 C60.61085,53.54157 59.3099618,54.3355116 57.8410353,54.4116895 L57.60776,54.41772 L4.83224,54.41772 C3.26852,54.41772 1.86824,53.60928 1.08644,52.25508 C0.345673684,50.9722674 0.306685983,49.4534822 0.969476898,48.1457283 L1.08644,47.9298 L27.4742,2.22492 C28.256,0.87072 29.65628,0.06228 31.22,0.06228 Z M31.21988,3.6666 C31.0817467,3.6666 30.8390326,3.70367259 30.6596232,3.93213416 L30.59564,4.02708 L4.208,49.73208 C4.02692,50.04564 4.13036,50.3184 4.208,50.45292 C4.27583,50.570835 4.4256125,50.7583913 4.70461719,50.8034379 L4.83224,50.8134 L57.60788,50.8134 C57.9698,50.8134 58.15448,50.58756 58.23212,50.45292 C58.3011333,50.3333467 58.3905319,50.1045467 58.2822836,49.8349552 L58.232,49.73208 L31.84412,4.02708 C31.66316,3.7134 31.3754,3.6666 31.21988,3.6666 Z M31.2206,39.27948 C32.5477403,39.27948 33.6236,40.3553397 33.6236,41.68248 C33.6236,43.0096203 32.5477403,44.08548 31.2206,44.08548 C29.8934597,44.08548 28.8176,43.0096203 28.8176,41.68248 C28.8176,40.3553397 29.8934597,39.27948 31.2206,39.27948 Z M33.02288,16.4514 L33.02288,35.67504 L29.41844,35.67504 L29.41844,16.4514 L33.02288,16.4514 Z' id='WARNING' fill='%23E02020' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    }


}

