/* ------------------------------------------------------- */
/* columns data to SYNC cells / cols in ROWS / HEADER */
/* ------------------------------------------------------- */

.data-cell {
    flex: 1 1 0;
    padding-left: 10px;
    position: relative;
}

.data-col-0 {
    min-width: 200px;
    max-width: 200px;
}

.data-col-1 {
    min-width: 400px;
    max-width: 400px;
}

.data-col-2 {
    min-width: 100px;
}
.data-col-3 {
    min-width: 100px;
}



