/* ------------------------------------------------ */
/* date-time CUSTOM */


.mui-date-time-custom {
    background-color: transparent;

    .MuiFormLabel-root {
        font-size: 13px;
        transform: scale(1);
        color: #545657!important;
    }

}
