/* generic CSS helpers */
//---------------------------------
// quick margins
//---------------------------------
.mb5 {
    margin-bottom: 5px;
}
.mb10 {
    margin-bottom: 10px;
}
.mb15 {
    margin-bottom: 15px;
}
.mb20 {
    margin-bottom: 20px;
}

.mt5 {
    margin-top: 5px;
}
.mt10 {
    margin-top: 10px;
}
.mt15 {
    margin-top: 15px;
}
.mt20 {
    margin-top: 20px;
}

//---------------------------------
// blocks as shim separators
//---------------------------------
.sep5 {
    display: block;
    font-size: 0;
    height: 5px;
}
.sep10 {
    display: block;
    font-size: 0;
    height: 10px;
}
.sep15 {
    display: block;
    font-size: 0;
    height: 15px;
}
.sep20 {
    display: block;
    font-size: 0;
    height: 20px;
}







