/* ------------------------------------------------ */
/* MuiAutocomplete CUSTOM  */
.mui-search-autocomplete-custom {
    .MuiInputBase-root {
        &:before {
            border-bottom: none !important;
        }

        // input field
        .MuiAutocomplete-input {
            padding: 10px 0 !important;
            font-size: 12px !important;

            &::-webkit-input-placeholder {
                opacity: 1 !important;
                font-style: normal!important;
                color: #909090 !important;
            }
        }

        .MuiOutlinedInput-notchedOutline {
            border-color: rgba(0, 0, 0, 0.23) !important;
        }

        // outlined version
        &.MuiOutlinedInput-root {
            padding: 0;
            height: 33px;


            &:hover {
                .MuiOutlinedInput-notchedOutline {
                    border-color: rgba(0, 0, 0, 0.23) !important;
                }
            }
            .MuiAutocomplete-input {
                padding: 9.5px 13px !important;
                font-size: 12px !important;

                &::-webkit-input-placeholder {
                    opacity: 1 !important;
                    font-style: italic!important;
                }
            }

            &.MuiOutlinedInput-adornedStart{
                .MuiAutocomplete-input {
                    padding-left: 0!important;
                }
            }

            &.MuiFocused {
                .MuiOutlinedInput-notchedOutline {
                    border-color: rgba(0, 0, 0, 0.23) !important;
                    // box-shadow: 0 0 0 0.2rem rgba(44,62,80,.1)
                }
            }

        }
    }

    input::-webkit-search-decoration,
    input::-webkit-search-cancel-button,
    input::-webkit-search-results-button,
    input::-webkit-search-results-decoration {
        display: none;
    }
}


// -------------------------------
// paper for popper
.MuiAutocomplete-paper {

    box-shadow: none !important;
    border-radius: 2px !important;
    border: solid 1px #d2d2d2 !important;

    // paper for popper
    .MuiAutocomplete-listbox {

        padding: 0;
        max-height: 200px;

        &::-webkit-scrollbar {
            /*width: 9px;
            height: 9px;*/
            width: 4px;
            height: 4px;
            background-color: transparent;
            overflow: auto;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(127, 127, 127, 0.50);
            border-radius: 20px;
            border-style: solid;
            border-color: transparent;
            //border-width: 1px;
            border-width: 0;
            background-clip: padding-box;
        }

        &::-webkit-scrollbar-track {
            background-color: transparent;
            border-width: 0;
        }

        &::-webkit-scrollbar-thumb:hover {
            background-color: rgba(127, 127, 127, 1);
        }

        .MuiAutocomplete-option {

            font-size: 11px;
            padding: 5px 10px;

            &[aria-selected="true"] {
                background-color: #2eace0 !important;
                color: #FFF !important;
            }

            &:hover {
                background-color: #DEEBFF;
            }

        }
    }

}

