/* ------------------------------------------------ */
/* mui-slider CUSTOM */


.mui-slider-custom {
    background-color: transparent;
    label {
        margin-bottom: 0px;
        font-size: 13px;
    }
    margin-bottom: 20px;
}
