/* ------------------------------------------------------- */
/* Base scoped style module */
/* ------------------------------------------------------- */
.header-data-list-component {
    display: flex;
    height: 26px;
    align-items: center;
    font-size: 10px;
    background-color: #D9ECFB;

    .head-data-cell {
        font-weight: 500;
        display: flex;
        text-transform: uppercase;
    }
}


